html,
body {
    font-family: sans-serif;
    text-align: center;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Header-links-ul {
    width: 60%;
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.header-link {
    padding: 0.4rem;
    border-radius: 2px;
    cursor: pointer;
}

.header-link:hover {
    border-bottom: 1px solid white;
}

main {
    padding: 2rem;
    font-size: 1rem;
}

.title {
    font-size: 3rem;
}

body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

.dark-mode header {
    background-color: #1e1e1e;
}

.dark-mode .header-link:hover {
    border-bottom: 1px solid #ffffff;
}




#gallery-grid {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
}

.images-row {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.thumbnail {
    width: 25vw;
    height: 25vw;
    object-fit: cover;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    transition: transform 0.2s ease;
  }

.modal {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    z-index: 1000;
}

.modal-content {
    height: 90%;
    width: auto;
    border-radius: 8px;
}

.hidden {
    display: none;
}

.close-button {
    position: absolute;
    top: 10%;
    right: 10%;
    font-size: 2rem;
    color: white;
    cursor: pointer;
}

#contact-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3px;
}

#contact-form textarea {
    width: 80vw;
    height: 15vh;
    resize: vertical;
}

body.dark-mode input,
body.dark-mode textarea,
body.dark-mode button {
    background-color: #333;
    color: #fff;
    border: 1px solid #555;
}

body.dark-mode input:focus,
body.dark-mode textarea:focus {
    border-color: #007BFF;
    outline: none;
}

body.dark-mode button:hover {
    background-color: #0056b3;
}

body.dark-mode label {
    color: #ffffff;
}